body {
  margin: 0;
  padding: 12px 78px 23px 77px;  
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --primary:#474955;
  --white:#FFFFFF;
  --gray:#B2B7BF;
}
input {outline:none;}